@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
.basic-font{
    font-family: 'Alata', sans-serif;    
}
.loginBox{
    width: 40%;
}
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
      .loginBox{
          width: 80%;
      }
  }